<h1>Hi <%= @user.first_name %>.</h1>

<p>
  Welcome to Volunteasy! Ready to make a difference? Browse <%= link_to 'events', search_url %> near you. If you are receiving this by mistake, click <%= link_to 'here', 'url/to/cancel/user/account'  %>.
</p>
