a.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}

.event-search-box {
  margin-top: 20px;
  margin-bottom: 20px;
}

.categories {
  width: 94%;
  background-color:white;
  color: #5E5E5E;
  border:1px solid #999999;
  cursor:default;
  color: $text-link;
  display: none;
  margin-top: 15px;
  position: absolute;
  text-align: left;
  // width:394px;
  z-index:50;
  padding: 10px 10px 10px;
  span {
    color: #5E5E5E;
  }
}

.events-search .categories {
  width: 330px;
}

.categories label {
  display: block;
  margin-top: 20px;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

.messagepop p, .messagepop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}

.btn-search {
  display:block;
  width: 100%;
  color: #979797;
  background-color: #FFFFFF;
}
.go {
  background-color: $button-green;
  color: white;
}
.create {
  background-color: $blue-button;
  color: white;
  text-align:center;
  border: 1px solid #ccc;
}

.button-categories {
  color: #979797;
  text-align: left;
}

.results {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.city {
  padding-left: 27px;
}

.events-block {
  margin-top: 45px;
  margin-bottom: 45px;
  padding-bottom: 10px;
  background-color: $green;
  border: 3px solid #fff;
  border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  h2 {
    color: #fff;
    font-size: 22px;
  }
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
