.user-basic-info {
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 20px;
  padding-top: 70px;
  text-align: center;
  position: relative;
  background-color: #fff;
  max-width: 600px;
  // height: 300px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color:#A0A6AD;
}

.user-image {
  width: 120px;
  height: 120px;
  border: white 3px solid;
  position: absolute;
  top: -60px;
  left: 50%;
  margin-left: 60px;
}

.user-edit-button {
  text-align: center;
  vertical-align: center;
  margin: 0 auto;
  background-color: #fff;
  width: 40px;
  height: 40px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color:#A0A6AD;
  .pencil {
    // margin-top: 27%;
  }
}

.user-bio,.user-organization,.user-past-events {
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;

  position: relative;
  background-color: #fff;
  max-width: 600px;
  // height: 300px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color:#A0A6AD;
}

.user-past-events {
  border-radius: 4px 4px 0px 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #E7E7E7;
}

.margin-top-user-page {
  margin-top: 50px;
}









