.attendance-card-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px;
  height: 74px;
  max-width: 600px;
  background: #fff;
  border-radius: 4px;
  background-color: #fff;
  color:#A0A6AD;
  margin: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  h3 {
    margin: 0px;
    padding: 0px;
  }
}

.attendance-name {
  display: flex;
  margin-left: 10px;
}

.attendance-header {
  text-align: center;
  margin: 60px 15px 60px 15px;
}

.attendance-avatar {
  display: flex;
}

.attendance-button-true {
  display: flex;
  font-size: 12px;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  padding: 0 15px;
  color: #fff;
  background-color: #39CD90;
  border-radius: 4px;
  margin-right: 10px;
}

.attendance-button-false {
  display: flex;
  font-size: 12px;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  padding: 0 15px;
  color: #5A5A5A;
  background-color: #F5F5F5;
  border-radius: 4px;
  margin-right: 10px;
}
