.attendance-card-container {
  position: relative;
  height: 74px;
  max-width: 600px;
  background: #fff;
  border-radius: 4px;
  background-color: #fff;
  color:#A0A6AD;
  margin: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  h3 {
    margin: 0px;
    padding: 0px;
  }
}
