<div class="navbar-wagon navbar-fixed-top" data-spy="affix" data-offset-top="50" style="width: 100vw;">

  <!-- TOP NAV -->
  <div id="navbar-top" class="navbar-wagon">
    <%= render 'shared/navbar_top' %>
  </div>

  <!-- BOTTOM NAV -->
  <div id="navbar-bottom" class="navbar-wagon">
    <%= render 'shared/navbar_bottom' %>
  </div>

</div>
