<div class="navbar-wagon" data-spy="affix" data-offset-top="0">

  <!-- TOP NAV -->
  <div id="navbar-top">

    <%= render 'shared/navbar_top' %>

  </div>

  <!-- BOTTOM NAV -->
  <div id="navbar-bottom">

    <%= render 'shared/navbar_bottom' %>

  </div>

</div>
