<% if event.photos? %>
<% photo_url = cl_image_path event.photos.first.path, width: 300, height: 300, crop: :fill %>
<% else %>
<% photo_url = image_path('teamwork.jpg') %>
<% end %>


<div class='boat-search-result-card'>
  <%= link_to event_path(event) do %>
  <div class='boat-card-image' style="background-image: url('<%= photo_url %>');background-size:cover;">
    <% end  %>
    <div class="boat-search-card-info">
      <div class="card-boat-caption">
        <span class="card-boat-category"> <%= event.name %></span>
        <span class='card-boat-location'><%= event.start_time.strftime('%d/%m/%Y') %></span>
      </div>
    </div>
  </div>
</div>

<div>
<!-- TODO : Implement a link to share a past event on FB -->
</div>
