<% if event.photos? %>
<% photo_url = cl_image_path event.photos.first.path, width: 300, height: 300, crop: :fill %>
<% else %>
<% photo_url = image_path("teamwork.jpg") %>
<% end %>


<div class="event-card">
  <%= link_to event_path(event) do %>
  <div class="event-card-image" style="background-image: url('<%= photo_url %>');background-size:cover;">
    <div class="event-card-info">
      <div class="event-card-caption">
        <span class="event-card-category"> <%= event.name %></span>
        <span class="event-card-location"><%= event.start_time.strftime("%d/%m/%Y") %></span>
      </div>
    </div>
  </div>

</div>
  <% end %>

<div>
<!-- TODO : Implement a link to share a past event on FB -->
</div>
