MY EVENTS


<div style="margin-bottom: 200px;">
  <h2> Events I am Managing, if any </h2>
  <% @current_events_managed.each_with_index do |event, index| %>
    <%= render partial: "events/current_event_managed_card", locals: {event: event} %>
  <!-- plug in events card with proper styling here -->
  <% end %>
</div>
<div style="margin-bottom: 200px;">
  <h2> Events I am Attending, if any</h2>
  <% @current_events_attended.each_with_index do |event, index| %>
    <%= render partial: "events/current_event_attending_card", locals: {event: event} %>
  <!-- plug in events card with proper styling here -->
  <% end %>
</div>

