<div class="wrapper" style="background:#1E9454">
  <div class="container">
    <div class="col-xs-12 col-sm-8 col-md-4">
      <h3>Create a Mission!</h3>
      <h4>Find passionate people for your project</h4>

      <%= render 'form', event: @event %>

      <%= link_to 'Back', events_path %>

    </div>
  </div>
</div>
