<div class="wrapper">
  <div class="container">
    <div class="col-xs-12 col-sm-8 col-md-4">
      <div class="form-heading">
        <h3>Create a Mission!</h3>
        <h4>Find passionate people for your project</h4>
      </div>
      <%= render 'form', event: @event %>

    </div>
  </div>
</div>
