<div class="container" style="margin-top: 300px">
  <div class="row">
    <div class="col-xs-12">
      List of participants :

        <% @event.registrations.each do |reg| %>
            <% if reg.participant.photo  %>
            <%= cl_image_tag reg.participant.photo.path, width: 50, height: 70, crop: :fill %>
          <% end %>
          <%=  reg.participant.first_name %>

        <!-- If current user is organizer and if event is past :  -->
           <% if policy(reg).update? %>
             <%= link_to "Attended?", event_registration_path(@event, reg), method: :put %>
          <% end %>
        <% end %>

    </div>
  </div>




