<div class = "form-inline search-form form-group">
  <%= simple_form_for @event, url: events_path, method: :get do |f| %>

  <%= f.input :location, placeholder:"Location...", label: false, input_html: {location: 'address', class: 'location'} %>

  <%= f.button :submit, value: "Go!" %>

  <% end %>
</div>
