<div class="homepage-hero-module">

  <div class="video-container">
        <div class="filter"></div>
<!--         <video autoplay loop class="fillWidth">
            <source src="/videos/Everest/MP4/Everest.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="/videos/Everest/WEBM/Everest.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video> -->
        <video poster="img/yourposterimage.jpg" id="bgvid" playsinline autoplay muted loop>
<source src="https://player.vimeo.com/external/147585012.hd.mp4?s=1726e3b9f04d4351927b118333bc58008aeb2af7&profile_id=113" type="video/mp4"></video>
        <div class="poster hidden">
        <img src="/videos/Everest/Snapshots/Everest.jpg" alt="">
        </div>
  </div>




<div class="container homepage homepage-hero-module">

  <div class="row">
    <div class="col-xs-12">

      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">

          <div class="homepage-content">
            <div class="banner-content">
              <%= image_tag("Logo_green.png", class: 'logo-home') %>
              <h3 class="fat-title">
                The time to help is now
                </h3>

              <div class = "simple-form form-inline search-form">
                  <div class="form-group">
                <%= button_to "Find an event", home_search_path, class: "btn go btn-block home-margin-bottom", method: :get  %>

                <%= button_to "Create an event", home_create_path, class: "btn create btn-block", method: :get %>
                </div>

              </div>
            </div>
            <div class="create-login form-inline">
                <%= link_to "Log-in / Sign up", login_signup_path, class: 'login' %>

            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>











</div>





