<div class="container">
  <div>
    <h1 class=text-center>Find an opportunity now</h1>
  </div>
  <div class = "form-inline search-form form-group">
    <%= simple_form_for @event, url: search_path, method: :get do |f| %>

    <%= f.input :address, placeholder:"Location...", label: false, input_html: {location: 'address', class: 'location'} %>

    <%= f.button :submit, value: "Go!" %>

    <% end %>
  </div>
</div>
<div class="container text-center">
  <%= link_to "Or create your own !", new_event_path %>
</div>
