/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

body {
  color: #A0A6AD;
  font-weight: 300;
}

a {
  color: #A0A6AD;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #5E5E5E;
  text-shadow: none;
}

h1 {
  font-size: 40px;
}

h3 {
  font-family: "Avenir";
  font-weight: 600;
  font-size: 16px;
}
