/* Card design */

.wrapper {
  background-color: #F7F7F7;
}


// CARD CONTAINER ------------->
.event-card-container {
  position: relative;
  height: 377px;
  max-width: 600px;
  background-size: cover;
  background: #fff;
  border-radius: 4px;
  background-color: #fff;
  color:#A0A6AD;
  margin: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  h3 {
    margin: 0px;
    padding: 0px;
  }
}

// CARD IMAGE ------------->
.event-card-image {
  height: 172px;
  overflow: hidden;
}

// CARD TAB ------------->
.event-card-tab {
  position: absolute;
  text-align: center;
  top: 144px;
  right: 12px;
  height: 62px;
  width: 103px;
  border-radius: 21px;
  background-color: #fff;
  text-align: center;
  h3 {
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 10px;
    text-align: center;
  }
  p {
    font-family: "Montserrat", "Open Sans";
    font-size: 12px;
    font-weight: 200;
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 12px;
    text-align: center;
  }
}

.event-card-days {
  text-align: center;
}

.event-card-left {
  text-align: center;
}



// CARD DATA ------------->
.event-card-data {
  text-align: center;
  position: relative;
  height: 145px;
  text-align: left;
  padding: 15px 15px 15px 15px;
}

.event-card-address-icon {
  // position: absolute;
  // left: 17px;
  // top: 50px
  margin-right: 12px;

}

.event-card-address-row {
  margin-top: 10px;
  // margin-left: 10px;
  display: flex;
}

.event-card-time-icon {
  // position: absolute;
  // left: 17px;
  // top: 100px;
  margin-right: 12px;
}

.event-card-time-row {
  margin-top: 5px;
  // margin-left: 10px;
  display: flex;
}

.event-card-caption {
  margin-top: 10px;
}

.event-card-separator {
  // position: absolute;
  height: 1px;
  background: #E2E2E2;
  width: 90%;
  margin: 0 auto;
}

// CARD FOOTER ------------->
.event-card-footer {
  position: relative;
  height: 60px;
  text-align: left;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  margin-left: 14px;
  // padding: 15px 15px 15px 15px;

  // FOR EVENT CARD REMAINDER
  a {
    text-decoration: none !important;
  }
}

.event-card-remainder {
  margin-left: 10px;
  border-radius: 4px;
  padding: 0 10px;
  text-align: center;
  vertical-align: middle;
  background-color: #F5F5F5;
  height: 20px;
  line-height: 20px;
  font-size: 8px;
  font-family: "Avenir";
  font-weight: 700px;
  font-color: #A0A6AD;
}

.event-card-button {
  position: absolute;
  right: 24px;
}

// UNUSED ------------->
.event-card-category {
  color: #3e3e3e;
  font-weight: 100;
  font-size: 22px;
}

.event-card-location {
  color: #3e3e3e;
  font-weight: 100;
  font-size: 14px;
}

.event-card-rating-box {
  position: absolute;
  width: 150px;
  top: 5px;
  left: 5px;
}

.event-card-name {
  position: absolute;
  font-weight: 100;
  font-size: 14px;
  color: #3e3e3e;
  top: 5px;
  right: 5px;
}

.event-card-rating {
  position: absolute;
  left: 110px;
  top: 5px;
  color: #3e3e3e;
  font-weight: 100;
  font-size: 14px;
}

.event-card-stars {
  position:absolute;
  text-align: left;
}

.card-no-reviews {
  color: #3e3e3e;
  font-weight: 100;
  font-size: 14px;
}


.card-description {
  position:absolute;
  bottom:10px;
  left:10px;
}

.card-link {
/*  background: black;
  opacity: 0;*/
  width: 100%;
  position:absolute;
  bottom:0px;
  top:0px;
  opacity: 0.3;
  transition: color 0,5s ease;
}

.card-link a:hover{
  color: #FFFF00;
       opacity: 0;
}

.description {
  color: #A7A398;
}









