@import "//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css";

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 60px; /* bottom has to be the same as footer height */
}
.footer {
    /* just for demo */
    background-color: #F8F8F8;
    border-top: 1px solid #E7E7E7;
    text-align:center;
    padding:20px;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
}
