<h2> Dear <%= @par.first_name %>, </h2>

Thank you for helping out!

## Include statistics and data for how their participation contributed to the community

## Include reminder of next upcoming event
## If none, then
## Suggest a search and put the search page url

