<h2>Dear <%= @organizer.first_name %>,</h2>

<p>Thank you for organizing <%= @event.name %>! </p>

<p>Please take a minute to let us know who showed up and who didn't. <% link_to "Here!", restaurant_url(@restaurant) %></p>

<h2>Thank you!</h2>
