<h2> Dear <%= @par.first_name %>, </h2>
<br>
Thank you for helping out! Your participation at <%= @event.name %> helped forge a better community!
We hope you've had a good time.
<br>

<%= link_to "Find another event", search_url  %>

